body 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-h2 h2
{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #efefef;
	background-color: #000;
}

.userForm 
{
	margin: auto;
	width: 300px;
}

.userForm form input 
{
	width: 80%;
	outline: none;
}