body 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-h2 h2
{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: #efefef;
	background-color: #000;
}

.userForm 
{
	margin: auto;
	width: 300px;
}

.userForm form input 
{
	width: 80%;
	outline: none;
}
/* From is end here */

.box-1
{
	width: 300px;
	margin: 10px 10px 10px 10px;
	padding: 3px;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 4px;
	float: left;
}

.box-1 p,
.box-2 p 
{
	margin: 0;
}

.box-2 
{
	width: 300px;
	margin: 10px 0 10px 10px;
	padding: 3px;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 4px;
	overflow: hidden;
}